.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 3rem;
	font-weight: 500;
}

.subtitle {
	margin: 1rem 0;
	line-height: 1.15;
	font-size: 1.5rem;
	font-weight: 400;
}

.title,
.description,
.subtitle {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.grid {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80vw;
}

.box {
	margin: 2rem;
	height: 40vh;
	width: 30vw;
	min-height: 6rem;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
